body {
    color: lightblue;
    background-color: aliceblues;
    padding: 10px;
}

#displayBox {
    color: blue;
    margin: 10px;
}


/*
taken off package.json
"repository": {
    "type": "git",
    "url": "git+https://github.com/sammyb1rd/compliment-generator.git"
  },
  "keywords": [
    "compliment",
    "generator",
    "fun",
    "simple"
  ],*/