/*
main midnight green eagle green: #114b5f,
second queen blue: #456990,
third nyanza: #E4FDE1,
fourth fiery rose: #F45B69,
fifth wine: #6B2737,
*/

body {
    color: #E4FDE1;
    background-color: #114b5f;
    padding: 10px;
    font-family: sans-serif;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
}

body:hover {
    cursor: url(color1.cur.png), url(colorfulcursor.png) auto;
}

#displayBox, #displayBoxSection1, #displayBoxSaved {
    background-color: #456990;
    margin: 10px;
    padding: 5px;
    font-size: 24px;
    color: #E4FDE1;
    margin: 10px;
    border: 2px solid #F45B69;
    border-radius: 5px;
}

button {
    margin: 15px;
    padding: 5px;
    font-size: 16px;
    font-weight: 800;
    color: #E4FDE1;
    background-color: #F45B69;
    border: 1px solid #6B2737;
    border-radius: 5px;
}

button:hover {
    background-color: #6B2737;
    cursor: pointer;
}



#displayBoxSection1 {
    display: flex;
}

#2 {
    font-style: italic;
    color: #a5da9f;
}

#section2Random, #section4Random {
    color: #a5da9f;
}

#section1Random, #section3Random {
    color: #E4FDE1;
}

#displayBoxSaved {
    min-height: 24px;
}

#saveSection, #saveComplete {
    color: #6B2737;
    background-color: #E4FDE1;
}

#saveSection:hover, #saveComplete:hover {
    color: #E4FDE1;
    background-color: #6B2737;
    cursor: pointer;
}




/*
taken off package.json
"repository": {
    "type": "git",
    "url": "git+https://github.com/sammyb1rd/compliment-generator.git"
  },
  "keywords": [
    "compliment",
    "generator",
    "fun",
    "simple"
  ],*/